<div class="mainBody">
  <div id="map"></div>
  <div id="mySidenav" class="sidenav">
    <div class="friendsCol">

      <!-- <div class="closeButton">
      </div> -->

       <div class="iconContainer">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">close</a>
        <a class="friendsIcon" ng-class="{active: layout == 'friens'}" ng-click="layout = 'friends'" ui-sref="friends"></a>
        <a class="friendsIcon2" ng-class="{active: layout == 'grid'}" ui-sref="grid"></a>
      </div>


      <div ng-show="layout == 'location'">
        <a class="back" ng-class="{active: layout == 'back'}" ng-click="layout = 'back'" ng-hide="layout == 'back'">Go to Friends</a>
        <div class="friendsContainer">
          <div class="places" ng-repeat="place in locations track by $index">
            <button ng-click="centerMap(place)">{{place}}</button>
          </div>
        </div>
      </div>
      <div ng-hide="layout == 'location'">
        <a class="location" ng-class="{active: layout == 'location'}" ng-click="layout = 'location'" ng-hide="layout == 'location'">Go to Locations</a>
        <input type="text" id="searchUser" ng-model="searchUser" placeholder="search by name or username" />
          <input id="inputTime" type="range" min="3600" max="994000" ng-model="inputTime" ng-change="onChange()"></input>
          <div id="inputDisplay">{{inputTimeDisplay}}
            <div ng-show="inputTimeDisplay === undefined">Scroll for time period</div>
          </div>
        <div class="friendsContainer" ng-repeat="friend in friends | filter:searchUser">
          <img ng-click="getUserPhotos(friend.id)" ng-src="{{ friend.profile_picture }}">
          </img>
          <div>
            {{friend.full_name}}
            {{friend.username}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

