<div class="frenZone" >
  <div class="mainBody">

    <div id="map"></div>
    <div id="mySidenav" class="sidenav">
      <a class="home-icon" ng-class="{active: layout == 'default'}" ng-click="layout = 'default'" ui-sref="default">Home</a>
      <div class="friendsCol">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="imgCont">
          <div class="locationContainer" ng-repeat="location in locations | filter:searchCaption">
            <img ng-src="{{ location.images.low_resolution.url }}"></img>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- <div class="locationContainer" ng-repeat="location in locations | filter:searchCaption">
  <img ng-src="{{ location.images.thumbnail.url }}"></img>
</div> -->


<!-- <div ng-repeat="photo in photos.data">
  <div ng-switch="photo.type">
    <div ng-switch-when="image">
      <img ng-src="{{photo.images.thumbnail.url}}" />
    </div>
  </div>
</div> -->

<!-- <div class="friendsContainer" ng-repeat="friend in friends | filter:searchCaption">
  <img ng-src="{{ friend.profile_picture }}"></img>
  <h1>{{friend.full_name}}</br>
      {{friend.username}}
  </h1>
</div>
 -->

<!--  <div class="locationContainer" ng-repeat="location in locations | filter:searchCaption">
      <img ng-src="{{ location.images.low_resolution.url }}"></img>
      <h1> {{location.location.name}}</br>
        <div class="tag&Face">{{location.tags}}<img ng-src="{{ location.user.profile_picture }}"></img>{{ location.user.username }}
        </div>
      </h1>
  </div> -->

<!-- <div ng-repeat="photo in photos.data">
  <div ng-switch="photo.type">
    <div ng-switch-when="image">
      <img ng-src="{{photo.images.low_resolution.url}}" />
    </div>
    <div ng-switch-when="video">
      <video width="150px" controls ng-src={{photo.videos.standard_resolution.url}}></video>
    </div>
  </div>
</div> -->
