<div class="bar">

    <div class="instafeed">

      <a class="home-icon" ng-class="{active: layout == 'default'}" ng-click="showAllPhotos()" ui-sref="default">
        <img src='./img/frenzone-logo.svg'>
        </img>
      </a>
    </div>

    <div class="buttons">
      <div class="logoutButton" ng-class="{active: layout == 'login'}" ng-click="layout = 'login';this.logout()" ui-sref="login">LOGOUT</div>
    </div>

</div>

<div class="aboutUs">
  <h1>Who We Are</h1>

  <div class="aaron">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTSQiLH0HtT0QdRSDQjE1wLa2SM_2uYiQU2TQppQsb5zJHpFGXB" alt="">
    <h2>Aaron Arakawa </h2>
    <p>
      Born and raised from Aiea Hawaii, Aaron Arakawa has always had a passion for computers. It wasnt until his mid 20s where he started to pursue his passion. Aaron has lived in Hawaii for most of his life. In his early 20s He resided in a few spots in Southern California, Huntington Beach, West Hollywood, and Anaheim then moved back to Hawaii where he soon started Devleague to be come a full stack developer.  Aaron loves traveling, whiskey, golf, hanging out with his friends, longs walks on the beach, and watching the sunset.
    </p>
  </div>

  <div class="bryan">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTSQiLH0HtT0QdRSDQjE1wLa2SM_2uYiQU2TQppQsb5zJHpFGXB" alt="">
    <h2>Bryan Choe</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem ipsum ab animi dignissimos aliquam incidunt magnam illo ipsam fugit dolore est, inventore, blanditiis optio distinctio. Maxime vel mollitia hic? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quos est! Harum illo fugit quidem ipsum tempora dicta neque, quas maiores quaerat, commodi repellat sunt vel corrupti eveniet aliquid. Tempore.</p>
  </div>

  <div class="casey">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTSQiLH0HtT0QdRSDQjE1wLa2SM_2uYiQU2TQppQsb5zJHpFGXB" alt="">
    <h2>Casey Oeda</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam officiis voluptatem rem ad saepe possimus dolore tenetur numquam reprehenderit recusandae! Eaque error eum, repellat temporibus voluptatum. Inventore, magnam. Saepe, perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam harum, ad vitae soluta facilis ut sit voluptas cupiditate dolorem, iusto necessitatibus quos reiciendis, perferendis iure nisi, ipsa neque laborum pariatur!</p>
  </div>

  <div class="jp">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTSQiLH0HtT0QdRSDQjE1wLa2SM_2uYiQU2TQppQsb5zJHpFGXB" alt="">
    <h2>JP Carreon</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque cupiditate neque provident cumque tempore eos deleniti, minima, dolor excepturi, labore, molestias. Voluptatibus sunt expedita ratione earum ad assumenda repellat beatae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro impedit minima nisi vel molestias, iure animi nemo officiis molestiae, voluptatibus eum nihil quam quos esse laboriosam, cum eligendi corporis magni.</p>
  </div>
</div>



