<h1>Grid State</h1>

<!-- <ul>
  <li ng-repeat="item in grid.items">{{item}}</li>
</ul> -->
<div ng-repeat="photo in photos.data">
  <div ng-switch="photo.type">
    <div ng-switch-when="image">
      <img ng-src="{{photo.images.low_resolution.url}}" />
    </div>
    <div ng-switch-when="video">
      <video width="150px" controls ng-src={{photo.videos.standard_resolution.url}}></video>
    </div>
  </div>
</div>

<div class="friendsContainer" ng-repeat="friend in friends | filter:searchCaption">
  <img ng-click="getUserPhotos(friend.id)" ng-src="{{ friend.profile_picture }}"></img>
  <h1>{{friend.full_name}}</br>
      {{friend.username}}
  </h1>
</div>

<div class="locationContainer" ng-repeat="location in locations | filter:searchCaption">
  <img ng-src="{{ location.images.standard_resolution.url }}"></img>
  <h1> {{location.location.name}}</br>
    <div class="tag&Face">{{location.tags}}<img ng-src="{{ location.user.profile_picture }}"></img>{{ location.user.username }}
    </div>
  </h1>
</div>