
<div class="bar">
    <div class="instafeed"><a class="home-icon" ng-class="{active: layout == 'default'}" ng-click="layout = 'default'" ui-sref="default">fren Zone</a></div>
    <div class="search_photo_container">
      <input id="pac-input" onClick="this.select();" class="controls" type="text" placeholder="Search Location">
    </div>
    <div>
<!--       <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'" ui-sref="list">list</a> -->
<!--       <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'" ui-sref="grid">Grid</a> -->
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
    </div>
  </div>


<section ui-view>
  <!-- all the states will be rendered in here -->

</section><style>
