html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}

app{
  background-color: black;
  display: block;
  height: 100%;
}

app > section{
  display: block;
  height: 90%;
}

.loginBackground{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100%;
}

.loginContainer{
  height: 83%;
  margin-top: 2%;
  text-align: center;
}

.loginLogo{
  color: white;
  font-size: 163px;
  text-align: center;
  width: 760px;
  margin-top: 17%;
}

.loginLogo:active{
  text-decoration: none;
}

.loginButtonContainer{
  width: 100%;
  height: 50px;
}

.loginButton{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: #FA6900;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.instafeed{
  flex:0 0 20%;
  display: inline-block;
  background-size: 70%;
  background-position:50% 30%;
  background-repeat: no-repeat;
}

.instafeed a{
  flex: 0 0 30%;
  text-decoration: none;
  color:white;
}

.instafeed img{
  height: 30px;
}

.barIcon {
    width:30%;
}

.span {
  color: #FA6900;
}

.holder {
  width: 20%;
}

/*main top bar*/
.bar .search_photo_container {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 50%;
  margin-right: 50px;
}

#search_user_input{
  width: 80%;
}

.bar .search_photo_container input {
  margin: auto;
  flex: 0 0 100%;
  height: 20px;
}

.bar {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  background-color: #171F25;
  padding: 10px 50px;
}

.mainBody {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
}

.navContainer{
  background-color: black;
}

#map {
  flex: 0 0 100%;
  height: 100%;
}

#map #marker{
  border: 3px solid #FFF;
  border-radius: 100px;
  box-shadow: 0 0 3px 0 rgba(0,0,0, 0.25);
}

.friendsCol {
  background-color: #171F25;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  flex: 0 0 100%;
  margin-top: 10px;
}

.locationsContainer{
  text-align:left;
  color:white;
}

.className{
  color:white;
}

.friendsContainer {
  color: white;
  margin-bottom: 5px;
}

.friendsContainer img {
  border-radius: 50%;
  width:70px;
  height: 70px;
}

.friendsContainer:hover {
 color: #FA6900;
}

.names:hover{
  color: #FA6900;
}

.imgCont {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-height: 100%;
}

.locationContainer img {
  display: flex;
  flex-direction: row;
  width: 83px;
  height: auto;
}

body {
    font-family: "Lato", sans-serif;
}
/*top*/
#outPut{
  color: white;
}

#inputTime{
  width: 80%;
  margin-left: 5%;
}

#inputDisplay{
  color: #818181;
  padding-top: 25px;
  width: 100%;
}

#searchUser{
margin: 20px;
flex: 0 0 90%;
height:20px;
border-radius: 15%;
border-radius: 15px;
width: 80%;
}

#map div.gm-style div div div#markerLayer img{
  border-radius: 100px !important;
  border: 1px solid !important;
}

#map #locationPicture{
  text-align: center;
}

#map #locationPicture img#profile{
  margin-top: 5px;
  margin-bottom: -10px;
  height:50px;
  border-radius: 30px;
  width: 50px;
}

.iconContainer{
  padding: 10px;
  height: 50px;
  flex: 0 0 100%;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  /*margin:auto;*/
 /* width: 100%;*/
  margin-top: -10px;
  /*margin-left:-20px;*/
  background-color: #023756;
  /*background-color: ##171F25;*/

}

.sidenav {
  margin-top:68px;
  background-color: #171F25;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 255px;
  height: 90%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #FA6900;
}

.specificLocation{
  padding: 10px;
  border-bottom: 1px solid white;
}

.specificLocation:hover{
  color: #FA6900;
  background-color: black;
}

a.back{
  padding:5px;
  border-radius: 10px;
  border:2px solid #FA6900;
  text-align: center;
  flex: 0 0 100%;
}

.aboutButton{
  width: 100px;
  height: 25px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size:15px;
  border: 2px solid white;
  border-radius: 30px;
}

.aboutButton:hover{
  color: #FA6900;
  border-color:#FA6900;
}

.buttons{
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
  flex: 0 0 80%;
}

.logoutButton{
  width: 100px;
  height: 25px;
  margin-top: 10px;
  text-align: center;
  font-size:15px;
  border: 2px solid white;
  border-radius: 30px;
}

.logoutButton:hover{
  color: #FA6900;
  border-color:#FA6900;
}


/*animation*/
.fallingIconPic{
  width: 93px;
}

.fallingIcon{
    width: 100px;
    height: 100px;
    padding-left: 57%;
    position :relative;
    top:161px;
    -webkit-animation: mymove 4s 1; /* Safari 4.0 - 8.0 */
    animation: mymove 4s 1;
}

@-webkit-keyframes mymove {
    0%    {top: 0px;}
    10%  {top: 0px;}
    20%  {top: 100px;}
    40%  {top: 20px}
    50% {top: 100px;}
    60%  {top: 40px}
    70% {top: 100px;}
    80%  {top: 80px}
    100% {top: 100px;}
}

@keyframes mymove {
    5%   {top: 0px;}
    10%  {top: 161px;}
    15%  {top: 20px}
    20% {top: 161px;}
    25%  {top:120px}
    30% {top: 161px;}
    35%  {top: 150px}
    40% {top: 161px;}
    100% {top:161px;}
}

.menu{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}

.trendingPlaces{
  padding:5px;
  border-radius: 10px;
  border:2px solid #FA6900;
  margin:auto;
  flex: 0 0 30%;
}

.location{
  padding:5px;
  border-radius: 10px;
  border:2px solid #FA6900;
  margin:auto;
  flex: 0 0 30%;
}

#usernameList{
  display: block;
  margin: 0 auto;
}

#chart {
  background-color: black;
}

.c3-legend-item {
  font-family: 'Poppins', sans-serif;
  fill: #FA6900;
  font-size: 18px;
}

.c3-axis-y text {
  font-family: 'Poppins', sans-serif;
   fill: #FA6900;
   font-size:12px;
}

.c3-axis-x text {
  font-family: 'Poppins', sans-serif;
    font-size:16px;
    fill:#FA6900;
}

h1 {
  color: #FA6900;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size:24px;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  fill: #FA6900;
  stroke-width: 0.1;
}

.c3 .c3-axis-y path, .c3 .c3-axis-y line {

  fill: #FA6900;
  stroke-width: 0.1;
}

.aboutUs{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  color:white;
}

.aboutUs > h1{
  flex: 0 0 100%;
}

h2{
  text-align: center;
  flex: 0 0 100%;
}

.overlay-content .aboutUs p{
  font-size: 15px;
  text-align: left;
  text-indent: 30px;
}

.profiles .aaron, .bryan, .casey, .jp{
  font-size: 15px;
  text-align: center;
  flex: 0 0 20%;
  margin:auto;
  margin-top: 0px;

}
.profiles .aaron h2, .bryan h2, .casey h2, .jp h2{
  color:lightgreen;
}

h3{
  color:lightblue;
}

.profiles {
  min-height: 600px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 965px) {
  .sidenav {
  margin-top:107px;
  background-color: #171F25;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 180px;
  height: 90%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }
  .sidenav a {font-size: 11px;}

}

@media screen and (max-width: 736px) {
  .sidenav {
  margin-top:107px;
  background-color: #171F25;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 180px;
  height: 90%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }
  .sidenav a {
    font-size: 11px;
  }

  .buttons{
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
  flex: 0 3 74%;
}
}



@media screen and (max-width: 663px) {
  .sidenav {
  margin-top:93px;
  background-color: #171F25;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 140px;
  height: 90%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }
  .sidenav a {font-size: 11px;}

}

@media screen and (max-width: 618px) {
  .sidenav {
  margin-top:141px;
  background-color: #171F25;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 140px;
  height: 90%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }
  .sidenav a {font-size: 11px;}

}

@media screen and (max-width: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
  .sidenav {padding-top: 40px;}
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 11px;}

  .loginBackground {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .loginContainer {
    margin-top:20%;
    height: 300px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 0 100%;
  }

  .loginLogo {
    height:100px;
    margin: 27px;
    margin-bottom:25px;
    font-size: 90px;
    flex: 0 0 100%;
  }

  .fallingIconPic{
    width: 50px;
  }

  .fallingIcon{
    padding-left: 12.5%;
    position :relative;
    top:161px;
    -webkit-animation: mymove 4s 1; /* Safari 4.0 - 8.0 */
    animation: mymove 4s 1;
  }

  html, body{
    overflow:hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .bar {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px;
  background-color: #171F25;
  padding: 10px 10px;
  }

  .buttons{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  flex: 0 0 100%;
  }

  .bar .search_photo_container {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 70%;
  margin-right: 50px;
  }

  .aboutButton{
  width: 100px;
  height: 25px;
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
  font-size:15px;
  border: 2px solid white;
  border-radius: 30px;
  }

  .sidenav {
    margin-top:156px;
    background-color: #171F25;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 80%;
    width: 130px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100px;
  }

  .profiles {
  min-height: 600px;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: flex-start;
  }

  .c3-axis-x text {
  font-family: 'Poppins', sans-serif;
    font-size:10px;
    fill:#FA6900;
  }

  .friendsCol {
  background-color: #171F25;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  flex: 0 0 100%;
  margin-top: -35px;
  }


}



