<div class="bar">

  <div class="instafeed">
  <!-- ng-click="layout = 'default'" -->
    <a class="home-icon" ng-class="{active: layout == 'default'}" ng-click="showAllPhotos()" ui-sref="default">
      <img src='./img/frenzone-logo.svg'>
      </img>
    </a>
  </div>

  <div class="buttons">
<!--     <div class="search_photo_container">
      <input id="pac-input" onClick="this.select();" class="controls" type="text" placeholder="Search Location">
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> -->
    <div class="logoutButton" ng-class="{active: layout == 'login'}" ng-click="layout = 'login'" ui-sref="login">LOGOUT</div>
  </div>

</div>

<h1 >Top 5 Trending Spots</h1>

<div id="chart"></div>

<!-- <div id="mySidenav" class="sidenav">

  <div class="friendsCol">
    <div class="iconContainer">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">close</a>
    </div>

    <a ui-sref="default">back</a>

  </div>

</div> -->





